.sectionsSeparator {
  display: flex;
  gap: 40px;
  border-bottom: 1px solid var(--color-gray-light);
  padding-bottom: 24px;
  margin-bottom: 44px;
}

.sectionLabel {
  display: inline-block;
  font-size: 20px;
  font-weight: 600;

  color: var(--color-main);

  &:hover,
  &:focus {
    cursor: pointer;
  }
}

.activeSection {
  position: relative;
  display: inline-block;
}
.activeSection::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -27px;
  width: 100%;
  height: 5px;
  background: #e44848;
  border-radius: 2px;
}

.overview {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  min-height: max-content;
}

.overviewSectionWrapper {
  padding: 44px 52px;
  border-radius: 10px;
  background-color: var(--color-inputs);
}

.loaderContainer {
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.errorContainer {
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.errorTitle {
  font-size: 32px;
  color: var(--color-main);
  margin: 0;
}

.errorMessage {
  font-size: 18px;
  color: var(--color-text);
  text-align: center;
  margin: 0;
}
