.gallery {
  margin-bottom: 60px;
}

.imagesWrapper {
  display: flex;
  gap: 48px;
  margin-bottom: 28px;
}

.image {
  width: 100%;
  height: 312px;
  overflow: hidden;
  border-radius: 10px;
  object-fit: cover;
}
