.heroImage {
  width: 100vw;
  padding: 260px 0 260px 64px;

  background-image: url('../../../public/images/main/hero/Picture.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.heroText {
  margin-bottom: 40px;

  font-weight: 600;
  color: var(--color-inputs)
}

.heroTitle {
  font-size: 48px;
  line-height: 32px;
  margin-bottom: 16px;
}

.heroDescription {
  font-size: 24px;
  line-height: 32px;
}