.card {
  display: flex;
  gap: 24px;
  padding: 24px;

  border: 1px solid var(--color-gray-light);
  border-radius: 20px;
}

.image {
  width: 292px;
  height: 320px;
  object-fit: cover;
  border-radius: 10px;
}

.mainInfo {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.description {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.viewDetailsButton {
  padding: 16px 40px;
}
