.head {
  color: var(--color-main);
}

.title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  gap: 12px;
  align-items: baseline;

  & h2 {
    max-width: 65%;
    word-wrap: break-word;
  }
}

.priceContainer {
  display: flex;
  align-items: center;
  gap: 12px;
}

.price {
  display: inline-block;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.addToFavorites {
  display: inline-block;
  cursor: pointer;
  width: 26px;
  height: 24px;
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.1);
  }
}

.details {
  display: flex;
  gap: 16px;
}

.rating {
  display: flex;
  align-items: center;
  gap: 4px;
}

.ratingValue {
  font-size: 16px;
  line-height: 24px;
}

.location {
  display: flex;
  align-items: center;
  gap: 4px;

  font-size: 16px;
  line-height: 24px;
}
